<?xml version="1.0" encoding="utf-8"?>
<!-- $Id$ -->
<config>
	<fields
		group="greetings"
		label="com_helloworld_Config_Greeting_Settings_Label"
		description="com_helloworld_Config_Greeting_Settings_Desc">

		<field
			name="show_category"
			type="radio"
			label="com_helloworld_Params_Show_Category_Label"
			description="com_helloworld_Params_Show_Category_Desc"
			default="0">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>
	</fields>
	<fields
		group="permissions"
		label="JConfig_Permissions_Label"
		description="JConfig_Permissions_Desc"
		hidden="true">

		<field
			name="rules"
			type="rules"
			label="JConfig_Permissions_Label"
			class="inputbox"
			filter="rules"
			component="com_helloworld"
			section="component"
		/>
	</fields>
</config>

